:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}
.movie {
  background-color: var(--secondary-color) !important;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  overflow: hidden;
}
.movie-info {
  color: #eee;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  font-size: 18px;
  margin-bottom: 0;
}
.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
}
.overview {
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}
.overview h3 {
  font-size: 20px;
}

.movie:hover .overview {
  transform: translateY(0);
}
.movie .rate {
  display: inline;
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 0;
  margin: 0;
  text-align: center;
  direction: rtl;
}
.iconSatr {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 4px #bbb;
  -webkit-text-stroke: 1px #fe0;
  color: #fc0;
  font-size: 42px;
  line-height: 1em;
}
.movie .rate span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: Arial;
  color: #000;
  text-shadow: none;
  -webkit-text-stroke: 0;
}
